body {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 5rem);
  grid-template-rows: repeat(3, 5rem);
  gap: 0;
  align-self: center;
  justify-self: center;
}

.box {
  display: flex;
  border: 1px solid;
  font-size: 2rem;
  align-items: center;
  justify-content: center;
}
