.gameboard {
  display: grid;
  grid-template-columns: repeat(3, 2rem);
  grid-template-rows: repeat(3, 2rem);
  align-items: center;
  justify-content: center;
}

.box {
  border: 1px solid;
  justify-self: center;
  padding: 6px;
}
